@tailwind preflight;

* {
    outline: none !important;
}

html {
    font-size: 62.5%;
    font-family: Roboto, Helvetica Neue, Arial, sans-serif;
}

body {
    font-size: 14px;
    line-height: 1.4;
}

html, body, #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.material-icons {
    /*font-size: 16px;*/
}

.ps > .ps__rail-y,
.ps > .ps__rail-x {
    z-index: 99;
}

@import 'styles/print.css';

@import 'styles/tables.css';

@import 'styles/react-table.css';

@import 'styles/fuse-helpers.css';

[class*="MuiButton-fab"] {
    border-radius: 50%;
}

@tailwind utilities;
